<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="name">Name:</label>
				<input id="name" class="form-control" type="text" name="name" placeholder="Jon Doe">
			</div>
			
			<div class="form-group">
				<label for="email">Email:</label>
				<input id="email" class="form-control" type="text" name="email" placeholder="jon@doe.com">
			</div>

			<div class="form-group">
				<label for="msg">Msg:</label>
				<textarea id="msg" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>



	<div id="socialMedia" class="col-md-6">
		<h1>social media links</h1>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">YouTube</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">SnapChat</a></li>
		</ul>
	</div>
</div>