<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="name">Name:</label>
				<input id="name" class="form-control" type="text" name="name" placeholder="Jon Doe">
			</div>
			
			<div class="form-group">
				<label for="email">Email:</label>
				<input id="email" class="form-control" type="text" name="email" placeholder="jon@doe.com">
			</div>

			<div class="form-group">
				<label for="msg">Msg:</label>
				<textarea id="msg" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>



	<div id="socialMedia" class="col-md-6">
		<h1>Social Media</h1>
		<a href="https://facebook.com"><img src="/images/facebookLogo.png"/></a>
		<a href="https://youtube.com"><img src="/images/youtubeLogo.png"/></a>
		<a href="https://instagram.com"><img src="/images/instagramLogo.png"/></a>
	</div>
</div>