<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/scripts/mp3.js'></script>
  </head>
  <body>
  	<div class="row">
	<div id="header" class="col-md-12">
		<img id="logo" src="/images/tillaTest.png">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/artists">Artists</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
    {{{body}}}
  </body>
</html>
