<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    
  </head>
  <body>
    <div class="wrapper">
      
    <div  class="row content-inside">
      <div id="header" class="col-md-12">
        <img id="logo" src="/images/tillaTest.png">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    </div>
    {{{body}}}
    <script type="text/javascript" src='/scripts/player.js'></script>

    <footer class="footer"><h4>&copy; 2018 kevin h</h4></footer>
  </body>
</html>