body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header{
	background-color: green;
	height:500px;
	margin: auto;
}

#logo{
	display: block;
	padding-bottom: 15px;
	margin: auto;
}

/* ul{
text-align: center;
}
li{
	display: inline-block;
	list-style-type: none;
	margin: auto;
} */

#header ul{
	text-align: center;
}

#nav  li {
	display: inline-block;
	background-color: blue;
}

#nav a{
	background-color: pink;
	margin:50px;

}


form {
	display: inline;
}
#socialMedia{
	text-align: center;
}
#bio{
	background-color: red;
	height: 500px;
}



footer{
	text-align: center;
}

.navLinks {
	font-family: sans-serif;
	font-size: 24px;
}

#about{
	padding: 10px 10px 10px 10px;
	line-height: 1.5;
	font-family: sans-serif;
	font-size: 20px;

}