body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header{
	background-color: green;
	height:500px;
}

#logo{
	display: block;
	padding-bottom: 15px;
	margin: auto;
}

ul{
text-align: center;
}
li{
	display: inline-block;
	list-style-type: none;
	margin: auto;
}

form {
	display: inline;
}
#socialMedia{
	text-align: center;
}
#bio{
	background-color: red;
	height: 500px;
}

#player{
	background-color: blue;
	height: 500px;
}

footer{
	text-align: center;
}